.deckContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    border: 5px solid black;
}

.compHand {
    margin-top: 20px;
}

.playerHand {
    margin-top: auto;
    margin-bottom: 20px;
}

.buttonContainer {
    margin-top: auto;
    margin-bottom: auto;
}

.cutCard { 
    align-self: flex-start; 
    margin-right: auto; 
    margin-top: 80px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: relative;
}

.pileDiv { 
    margin: auto;
    display: flex; /* Use Flexbox to arrange children in a row */
    position: relative; 
    height: 100px; /* Set a height if needed */
}

.pileDiv > div {
    flex: 0 0 auto; /* Prevent shrinking or growing */
}
